@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-50: 250 245 255;
    --main-100: 243 232 255;
    --main-200: 233 213 255;
    --main-300: 216 180 254;
    --main-400: 192 132 252;
    --main-500: 168 85 247;
    --main-600: 147 51 234;
    --main-700: 126 34 206;
    --main-800: 107 33 168;
    --main-900: 88 28 135;
  }
  .pink {
    --main-50: 253 242 248;
    --main-100: 252 231 243;
    --main-200: 251 207 232;
    --main-300: 249 168 212;
    --main-400: 244 114 182;
    --main-500: 236 72 153;
    --main-600: 219 39 119;
    --main-700: 190 24 93;
    --main-800: 157 23 77;
    --main-900: 131 24 67;
  }

  .green {
    --main-50: 240 253 244;
    --main-100: 220 252 231;
    --main-200: 187 247 208;
    --main-300: 134 239 172;
    --main-400: 74 222 128;
    --main-500: 34 197 94;
    --main-600: 22 163 74;
    --main-700: 21 128 61;
    --main-800: 22 101 52;
    --main-900: 20 83 45;
  }
  .purple {
    --main-50: 250 245 255;
    --main-100: 243 232 255;
    --main-200: 233 213 255;
    --main-300: 216 180 254;
    --main-400: 192 132 252;
    --main-500: 168 85 247;
    --main-600: 147 51 234;
    --main-700: 126 34 206;
    --main-800: 107 33 168;
    --main-900: 88 28 135;
  }
  .orange {
    --main-50: 255 247 237;
    --main-100: 255 237 213;
    --main-200: 254 215 170;
    --main-300: 253 186 116;
    --main-400: 251 146 60;
    --main-500: 249 115 22;
    --main-600: 234 88 12;
    --main-700: 194 65 12;
    --main-800: 154 52 18;
    --main-900: 124 45 18;
  }
  .blue {
    --main-50: 239 246 255;
    --main-100: 219 234 254;
    --main-200: 191 219 254;
    --main-300: 147 197 253;
    --main-400: 96 165 250;
    --main-500: 59 130 246;
    --main-600: 37 99 235;
    --main-700: 29 78 216;
    --main-800: 30 64 175;
    --main-900: 30 58 138;
  }
}
